
.section-dashboard {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .section-header {
        width: 100%;
    }
    
    .section-header-text {
        font-size: 2.4rem;
        color: black;
        font-weight: 600;
    }
}
