.section-user-management {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .section-header {
        width: 100%;
    }
    
    .section-header-text {
        font-size: 2.4rem;
        color: black;
        font-weight: 600;
    }

    .mat-tab-labels {
        display: flex !important;
        background-color: #80808059!important;
    }

    ::ng-deep .mat-tab-label {
        flex: 1 !important;
    }

    .wraper-user-details {
        padding: 0px !important;
    }

    .add-user-card {
        border-radius: 0px !important;
        height: 30px  !important;
    }

    .search-card {
        border: 1px solid #cfcaca59;
        padding: 16px 16px 0px 16px  !important;
    }
}
